@inject IJSRuntime JS

@inherits LayoutComponentBase


<CascadingValue Value="searchQuery" IsFixed="true">
<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get a freeze</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>




    <!-- Botón de Modo Oscuro dentro de la barra de navegación -->
    <div class="nav-buttons">
        <input type="text" class="search-bar" placeholder="Search ice creams..." @bind="searchQuery" />
        <button class="dark-mode-toggle" @onclick="ToggleDarkMode">Dark Mode</button>
    </div>



    <LoginDisplay />
</div>


<div class="content">
     @*@<CascadingValue Value="searchQuery">*@
    @Body
    @*@</CascadingValue>*@
</div>
</CascadingValue>

@*Función que establece el modo oscuro*@

@code {
    bool isDarkMode = false;
 

    async Task ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        await JS.InvokeVoidAsync("toggleDarkMode", isDarkMode);
    }
}

@code {
    string searchQuery = "";
}

